// override vars for theming here
$font-stack: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$text-color: #0f172a;
$primary-color: #f43f5e;
$secondary-color: #f97316;
$muted-color: #64748b;
$base-font-size: 16px;
